.colunas {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 5px;
}

.btnpord {
    background: #ffffff;
}

.btnforms {
        background: #ffffff;
}

.navbar-brand{
    padding: 70px;
}

/* ########## ESTADO BUTTON ########## */
.button_top{
    border: 2px solid #00fc26;
    background-color: #3600f7;
    border-radius: 0;
    padding: 0.8em 1.2em 0.8em 1em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
   }
   .button_top span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
   }
   .button_top:hover {
    background-color: rgb(0, 4, 40);
   }
/* ########## FECHAMENTO ########## */


/* ########## ESTILIZAÇÃO ########## */
.button_top {
    background: #ffffff;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid rgb(0, 4, 40);
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
  }
  .button_nav {
    background: #ffffff;
    font-family: inherit;
    padding: 0.5em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
  }
  .button_top:hover {
    transform: translate(-0.05em, -0.05em);
}
  .button_top:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }
/* ########## FECHAMENTO ########## */

.tresColunas>img {
    border: 1px solid lightgrey;
    box-shadow: 1px 1px 3px lightgrey;
    margin-bottom: 10px;
}

.container {
    max-width: 1360px;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid lightgrey;
    box-sizing: border-box;
    padding: 5px;
    background-color: white;
    box-shadow: 3px 3px 3px grey;
    border-radius: 3px;
}

#logoTopo {
    width: 100px;
    padding: auto;
}

.depoimentos {
    margin-top: 50px;
    margin-bottom: 50px;
}

.paragrafo1 {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 5px;
    text-align: justify;
}
.p {
    text-align: justify;
}

.text-center-id {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* ####################### */

.container1 {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container2 {
    position: relative;
    display: flex;
    justify-content: space-between;
}


.container3 {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container4 {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container5 {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container6 {
    position: relative;
    display: flex;
    justify-content: space-between;
}
/* ####################### */

.container1 .card {
    position: relative;
    border-radius: 0px;
}

.container2 .card {
    position: relative;
    border-radius: 0px;
}

.container3 .card {
    position: relative;
    border-radius: 0px;
}

.container4 .card {
    position: relative;
    border-radius: 0px;
}

.container5 .card {
    position: relative;
    border-radius: 0px;
}

.container6 .card {
    position: relative;
    border-radius: 0px;
}
/* ####################### */

.footercolor{
    color: #00df21;
}

footer {
    margin-top: 50px;
    background: rgb(0,4,40);
    color:rgb(253, 253, 253);
    padding: 20px;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

.page-footer shadow {
    background-color: brown;
}

/* ####################### */

.container1 .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #ffffff;
}

.container2 .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #ffffff;
}

.container3 .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #ffffff;
}

.container4 .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #ffffff;
}

.container5 .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #ffffff;
}

.container6 .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #ffffff;
}
/* ####################### */

.container1 .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 20% 140%, #fff694 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    transition: 0.7s;
    z-index: 1;
}
.container2 .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0A66C2;
    transition: 0.7s;
    z-index: 1;
}
.container3 .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1DA0F2;
    transition: 0.7s;
    z-index: 1;
}
.container4 .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FF0000;
    transition: 0.7s;
    z-index: 1;
}

.container5 .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0A66C2 ;
    transition: 0.7s;
    z-index: 1;
}

.container6 .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    transition: 0.7s;
    z-index: 1;
}
/* ####################### */

i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #2cb9cc;
}

/* ####################### */

.container1 .card .face {
    width: 160px;
    height: 200px;
    transition: 0.5s;
}

.container2 .card .face {
    width: 160px;
    height: 200px;
    transition: 0.5s;
}

.container3 .card .face {
    width: 160px;
    height: 200px;
    transition: 0.5s;
}

.container4 .card .face {
    width: 160px;
    height: 200px;
    transition: 0.5s;
}

.container5 .card .face {
    width: 160px;
    height: 200px;
    transition: 0.5s;
}

.container6 .card .face {
    width: 160px;
    height: 200px;
    transition: 0.5s;
}

/* ####################### */

/* ####################### */

.container1 .card .face.face1 {
    position: relative;
    background: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container2 .card .face.face1 {
    position: relative;
    background: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container3 .card .face.face1 {
    position: relative;
    background: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container4 .card .face.face1 {
    position: relative;
    background: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container5 .card .face.face1 {
    position: relative;
    background: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container6 .card .face.face1 {
    position: relative;
    background: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}
/* ####################### */

/* ####################### */

.container1 .card:hover .face.face1 {
    background: #00ff22;
    transform: translateY(0px);
}

.container2 .card:hover .face.face1 {
    background: #00ff22;
    transform: translateY(0px);
}

.container3 .card:hover .face.face1 {
    background: #00ff22;
    transform: translateY(0px);
}

.container4 .card:hover .face.face1 {
    background: #00ff22;
    transform: translateY(0px);
}

.container5 .card:hover .face.face1 {
    background: #00ff22;
    transform: translateY(0px);
}

.container6 .card:hover .face.face1 {
    background: #00ff22;
    transform: translateY(0px);
}
/* ####################### */

.container1 .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.container2 .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.container3 .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.container4 .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.container5 .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.container6 .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}
/* ####################### */

.container1 .card:hover .face.face1 .content {
    opacity: 1;
}

.container2 .card:hover .face.face1 .content {
    opacity: 1;
}

.container3 .card:hover .face.face1 .content {
    opacity: 1;
}

.container4 .card:hover .face.face1 .content {
    opacity: 1;
}

.container5 .card:hover .face.face1 .content {
    opacity: 1;
}

.container6 .card:hover .face.face1 .content {
    opacity: 1;
}
/* ####################### */

.container1 .card .face.face1 .content i {
    max-width: 1366px;
}

.container2 .card .face.face1 .content i {
    max-width: 1366px;
}

.container3 .card .face.face1 .content i {
    max-width: 1366px;
}

.container4 .card .face.face1 .content i {
    max-width: 1366px;
}

.container5 .card .face.face1 .content i {
    max-width: 1366px;
}

.container6 .card .face.face1 .content i {
    max-width: 1366px;
}
/* ####################### */

.container1 .card .face.face2 {
    position: relative;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(158, 158, 158, 0.8);
    transform: translateY(-100px);
}

.container2 .card .face.face2 {
    position: relative;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(158, 158, 158, 0.8);
    transform: translateY(-100px);
}

.container3 .card .face.face2 {
    position: relative;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(158, 158, 158, 0.8);
    transform: translateY(-100px);
}

.container4 .card .face.face2 {
    position: relative;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(158, 158, 158, 0.8);
    transform: translateY(-100px);
}

.container5 .card .face.face2 {
    position: relative;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(158, 158, 158, 0.8);
    transform: translateY(-100px);
}

.container6 .card .face.face2 {
    position: relative;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(158, 158, 158, 0.8);
    transform: translateY(-100px);
}
/* ####################### */

.container1 .card:hover .face.face2 {
    transform: translateY(0);
}

.container2 .card:hover .face.face2 {
    transform: translateY(0);
}

.container3 .card:hover .face.face2 {
    transform: translateY(0);
}

.container4 .card:hover .face.face2 {
    transform: translateY(0);
}

.container5 .card:hover .face.face2 {
    transform: translateY(0);
}

.container6 .card:hover .face.face2 {
    transform: translateY(0);
}
/* ####################### */

.container1 .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.container2 .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.container3 .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.container4 .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.container5 .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.container6 .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}
/* ####################### */

.container1 .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #25b62d;
    font-size: 24px;
    text-align: center;
    color: #414141;
}

.container2 .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #25b62d;
    font-size: 24px;
    text-align: center;
    color: #414141;
}

.container3 .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #25b62d;
    font-size: 24px;
    text-align: center;
    color: #414141;
}

.container4 .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #25b62d;
    font-size: 24px;
    text-align: center;
    color: #414141;
}

.container5 .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #25b62d;
    font-size: 24px;
    text-align: center;
    color: #414141;
}

.container6 .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #25b62d;
    font-size: 24px;
    text-align: center;
    color: #414141;
}
/* ####################### */

.container1 a {
    text-decoration: none;
    color: #000000;
}

.container2 a {
    text-decoration: none;
    color: #000000;
}

.container3 a {
    text-decoration: none;
    color: #000000;
}

.container4 a {
    text-decoration: none;
    color: #000000;
}

.container5 a {
    text-decoration: none;
    color: #000000;
}

.container6 a {
    text-decoration: none;
    color: #000000;
}